/* WITH FLEX */

.auth-form {
    width: 360px;
    height: 100vh;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    
    padding-top: 40vh;
}

.error {
    padding-left: 1.5vw;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
    width: 20vw;
    color: #dcddde;
}

.name {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #2f3136;
    border: none;
    width: 250px;
    font-family: ubuntu;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #dcddde;
}


.submit-form {
    background: none;
    color: #b9bbbe;
    font-size: 50px;
    
    position: relative;
    border-radius: 40px;
    border: none;
    padding: 5px 12px;
    font-size: 20px;
    
    right: 60px;
    
    transition: transform 0.2s;
}

.submit-form:hover {
    transform: scale(1.25);
}

.password {
    display: none;
}

.passwordText {
    padding-left: 1.5vw;
    color: #dcddde;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
}

.passwordInput {
    width: 250px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #2f3136;
    border: none;
    
    font-family: ubuntu;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #dcddde;
}

.privateChange {
    display: block;
    
}

.publicChange {
    display: none;
}

.typeCommon {
    padding-right: 60px;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
    font-size: 15px;
    color: #dcddde;
    text-align: right;
}

.typeCommon:hover {
    color: #7289da;
}

input:focus {
    outline: 0;
}



/* WITH GRID */

/* .Join {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(4, 1fr);
    width: 40vw;
    margin: auto;
    background-color: gray;
}

.Join > div {
    border: 4px blue solid;
}

.name {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #2f3136;
    border: none;
    width: 25vw;
    font-family: ubuntu;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #dcddde;
    
    grid-row: 2/3;
    grid-column: 1/2;
}


.submitJoin {
    position: relative;
    border-radius: 30px;
    border: none;
    background-color: #b9bbbe;
    padding: 5px 12px;
    font-size: 20px;
    transition: transform 0.2s;
    
    grid-row: 2/3;
    grid-column: 2/3;
}

.submitJoin:hover {
    transform: scale(1.25);
    transform: translate(-150%, 0);
}

.password {
    display: none;
    
    grid-row: 3/4;
    grid-column: 1/2;
}

.passwordText {
    color: #dcddde;
    margin: 15px 0px;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
}

.passwordInput {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #2f3136;
    border: none;
    
    font-family: ubuntu;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #dcddde;
}

.privateChange {
    display: block;
    
}

.publicChange {
    display: none;
}

.typeCommon {
    margin: 15px 0px;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
    font-size: 15px;
    color: #dcddde;
    text-align: right;
    
    grid-row: 4/5;
    grid-column: 1/2;
}

.typeCommon:hover {
    color: #7289da;
}

.error {
    margin: 15px 0px;
    font-weight: 300;
    letter-spacing: 0.08em;
    font-family: ubuntu;
    width: 20vw;
}

input:focus {
    outline: 0;
} */